.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    height: 95%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.box {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: 40vh;
}

@media (max-width: 769px) {
    .box-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 90%;
    }

    .box {
        height: 40vh;
        width: 100%;
    }
}

/* when siderbar gets hidden */
@media (max-width: 990px) {
}

@media (max-width: 320px) {
    .box-container {
        width: 95vw;
    }
}
